form {
    align-items: center;
    width: 100%;
    background-color: rgb(4, 252, 95);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h2 {
    text-align: center;
    color: #333;
  }
  label {
    display: block;
    margin: 10px 0 3px;
    font-size: 16px;
    color: hsl(320, 100%, 51%);
  }
  input[type="email"],
  input[type="password"],
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  input[type="email"]:hover,
  input[type="password"]:hover {
    box-shadow: 0 2px 6px yellow;
    border-color: #888;
  } 
  button {
    width: 50%;
    margin-left: 100px;
    margin-right: 20px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: rgb(30, 5, 254);
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: rgb(5, 255, 5);
  }
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  form {
    background-color: rgb(4, 194, 252);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; 
  }
  p{
    text-align: center;
  }
